.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $offBlack;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: $s 0
}

.footer a {
    text-decoration: none;
    color: $brightPurple;
}

.footer a:hover {
    color: $kindaWhitePurple;
}