html {
    font-size: 62.5%
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m;
    background: $kindaDarkBlue;

}

button {
    cursor: pointer;

}

button:disabled {
    cursor: default;

}