// Colors 

$offBlack:#20222b;
$kindaBlue : #3c4251;
$kindaLightBlue: #464b5e;
$kindaDarkBlue: #333745;
$brightPurple: #8357c5;
$kindaWhitePurple:#a5afd7;


//Sizeing

$m : 1.6rem;
$l : 3.2rem;
$xl :4.8rem;
$s : 1.2rem;

$desktopBreakpoint:45rem;